* {
    font-family: 'Press Start 2P', cursive !important;
}

input {
    display: none;
}

label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

label span {
    position: relative;
    line-height: 22px;
}

label span:before,
label span:after {
    content: '';
}

label span:before {
  border: 1px solid black;
  background-color: white;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

label span:after {
    background: black;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 4px;
    transition: 300ms;
    opacity: 0;
}

label input:checked+span:after {
    opacity: 1;
  }

.pokemonname {
    text-align: center;
    text-transform: capitalize;
}